*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    
}

.container{
    border: 2px dashed red;
    border-right: 5px solid red;
    border-bottom: 5px dotted black;
    outline: 10px solid blue;
    outline-offset: -15px; 
    padding: 2em;
    font-size: 1.5rem;
    padding: 1em;
    margin: 1.5em;
}   